.c-archive {

	&__content {
		@extend .h-constraint;
		@extend .h-stack;

		@include desktop {
			> * + * {
				margin-top: var(--unit-xxlarge);
			}
		}
	}

	&__header {
		@extend .h-constraint;
		@extend .h-stack;
		padding-top: var(--unit-large);
		padding-bottom: var(--unit-large);
	}

}
