.c-article {

	@include clearfix;
	@extend .h-stack--medium;

	@include desktop {
		font-size: 1.125rem;
	}

	&__content {
		@include clearfix;
		@extend .h-constraint;
		@extend .h-stack--medium;

		> * {
			@include mobile-padding-x;

			&.alignfull,
			&.alignwide,
			&.alignxwide {
				padding-left: 0;
				padding-right: 0;
			}
		}

		// > .b-home-carousel:first-child,
		//  > .wp-block-group:first-child,
		//  > .wp-block-media-text:first-child,
		//  > .wp-block-mhm-project-grid:first-child,
		//  > .wp-block-mhm-project-header:first-child,
		//  > .wp-block-mhm-viewpoint-header:first-child,
		// > .wp-block-cover:first-child {
		// 	margin-top: calc(var(--unit-large) * -1);
		// 	@include desktop {
		// 		margin-top: calc(var(--unit-large) * -2);
		// 	}
		//
		// 	.admin-bar & {
		// 		@include desktop {
		// 			margin-top: calc(var(--unit-large) * -4 + var(--unit-xlarge));
		// 		}
		// 	}
		// }

		> ul {
			padding-left: 2.2em;
			@include tablet {
				padding-left: 1.2em;
			}
		}

		.has-medium-font-size:first-child {
			color: c(black);
		}
	}

	&__contentandthumbnail {
		// @extend .h-stack--medium;

		.o-body--tallthumbnail.single-format-image,
		.o-body--tallthumbnail.single-format-standard & {
			max-width: var(--constraint-narrow);
			margin-left: auto;
			margin-right: auto;
			@include laptop {
				@supports(display: grid) {
					max-width: var(--constraint-wide);
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					grid-column-gap: var(--unit-medium);

					.c-article {
						&__content {
							grid-column: 2/3;
						}

						&__thumbnail {
							grid-column: 1/2;
						}
					}
				}
			}
		}
	}

	&__date {
		display: block;
		font-size: var(--font-size-small);
		color: c(gray);

		+ .c-article__date {
			margin-top: 0;
		}
	}

	&__header {
		@extend .h-constraint;
		@extend .h-stack--small;
		@include desktop {
			padding-top: var(--unit-large);
			padding-bottom: var(--unit-large);
		}

		> * {
			@include mobile-padding-x;
			padding-right: 15%;
			@include desktop {
				padding-right: var(--unit-xlarge);
			}
		}
	}

	&__meta {
		@extend .h-constraint;
		@extend .h-stack;
		@include mobile-padding-x;
		padding-top: var(--unit-medium);
		padding-bottom: var(--unit-medium);
	}

	&__metatitle {
		font-size: 1em;
		margin: 0;
	}

	&__taxonomy {
		@extend .h-stack--xsmall;
	}

	&__taxonomyentries {
		line-height: var(--line-height);
		color: c(gray);

		a {
			color: currentColor;
			text-decoration-color: c(gray, light);
		}
	}

	&__title {
		font-size: 1.75em;

		&--image,
		&--photo {
			font-size: 1.25em;
		}
	}

	&__thumbnail {
		@extend .h-constraint;
		padding-left: var(--unit);
		padding-right: var(--unit);

		@include tablet_landscape {
			padding-left: 0;
			padding-right: 0;
		}

		&--photo {
			> * {
				max-width: var(--constraint-lessnarrow);
				@include laptop {
					max-width: var(--constraint-lessnarrow);
				}
				@include desktop_xlarge {
					max-width: var(--constraint-wide);
				}
			}

			&.tall {
				> * {
					max-width: var(--constraint-narrow);
				}
			}

			&.filmic {
				> * {
					max-width: var(--constraint-medium);
				}
			}
		}

		&.alignwide {
			> * {
				max-width: var(--constraint-wide);
			}
		}

		&.alignxwide {
			> * {
				max-width: var(--constraint-xwide);
			}
		}

		&.alignfull {
			> * {
				max-width: var(--constraint-full);
			}
		}

		&--mhm-viewpoint {
			> * {
				max-width: var(--constraint-wide);
			}
		}
	}

	&__thumbnailimage {
		width: 100%;
		pointer-events: none;

		body.logged-in & {
			pointer-events: all;
		}
	}

	&__video {
		@extend .h-constraint;
		padding: var(--unit-small);
		background: c(gray, dark) radial-gradient(c(gray, dark) 25%, c(black));
		@include desktop {
			padding: var(--unit-xlarge);
		}

		.wp-block-embed {
			@extend .alignwide;
			margin-bottom: 0;
		}
	}

	&--post {
		.single-post & {
			margin-bottom: var(--unit-xlarge);
		}
	}

	&--photo {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		.single-photo & {
			margin-bottom: var(--unit-xlarge);
		}

		> * {
			width: 100%;
		}

		.c-article {
			&__header {
				width: 100%;
				max-width: var(--constraint-narrow);
				margin-left: auto;
				margin-right: auto;
				margin-top: var(--unit-medium);

				> {
					padding-right: 0;
				}
			}

			&__thumbnail {
				order: -2;
				margin-top: 0;
			}

		}
	}
}
