.c-excerpt {
    @extend .h-stack;
    margin-left: auto;
    margin-right: auto;

    &__content {
        @extend .h-stack;
        max-width: var(--constraint-narrow);
        margin-left: auto;
        margin-right: auto;
        @include laptop {
            max-width: 100%;
        }
    }

    &__date {
        display: block;
        font-size: var(--font-size-small);
        color: c(gray);
    }

    &__header {
        @extend .h-stack--xsmall;
    }

    &__imagelink {
        display: block;
        position: relative;
        z-index: 1;
    }

    &__link {
        display: inline-block;
    }

    &__thumbnailimage {
        width: 100%;
    }

    &__title {
        @include laptop {
            font-size: 1.75rem;
        }
    }

    &.has-post-thumbnail:not(.c-excerpt--photo),
    &.has-video-thumbnail:not(.c-excerpt--photo) {
        &.c-article__thumbnailaspect--square {
            max-width: var(--constraint-medium);
            // @include desktop {
            //     max-width: var(--constraint-wide);
            // }
        }
        &:not(.c-article__thumbnailaspect--tall):not(.c-article__thumbnailaspect--square) {
            max-width: var(--constraint-medium);
            @include desktop {
                max-width: var(--constraint-wide);
            }
        }

        @include laptop {
            @supports (grid-gap: 1rem) {
                display: grid;
                grid-template-columns: 3fr 2fr;
                grid-gap: var(--unit-large);
                align-items: flex-end;

                .c-excerpt {
                    &__content {
                        grid-column: 2/-1;
                        grid-row: 2/-1;
                        margin-left: 0;
                        padding-bottom: var(--unit);
                    }

                    &__thumbnail {
                        grid-column: 1/2;
                        grid-row: 1/-1;
                    }
                }
            }
        }

        &.c-article__thumbnailaspect--wide {
            @extend .alignwide;
            grid-template-columns: 3fr 2fr;
        }
    }

    &:nth-child(even) {
        &.has-post-thumbnail:not(.c-excerpt--photo),
        &.has-video-thumbnail:not(.c-excerpt--photo) {
            @include laptop {
                @supports (grid-gap: 1rem) {
                    grid-template-columns: 2fr 3fr;

                    .c-excerpt {
                        &__content {
                            grid-column: 1/2;
                            grid-row: 2/-1;
                            margin-left: auto;
                            margin-right: 0;
                        }

                        &__thumbnail {
                            grid-column: 2/-1;
                            grid-row: 1/-1;
                        }
                    }
                }
            }
        }
    }

    &.format-video.has-post-thumbnail:not(.c-excerpt--photo),
    &.format-video.has-video-thumbnail:not(.c-excerpt--photo),
    &__thumbnailfigure--video:not(.c-excerpt--photo) {
        .c-excerpt__imagelink {
            position: relative;

            &::before {
                content: '';
                @include flood;
                background: url('../img/icons/ic_play_circle_filled_24px_white_75.min.svg') center
                        no-repeat,
                    linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.5) 100%) center bottom
                        repeat-x;
                background-size: 3rem;
            }
        }
    }
}
