.c-featureheader {
    &__content {
        font-size: var(--font-size-small);
        padding-top: var(--unit);
        @extend .h-stack;
        @include tablet_landscape {
            padding-top: 0;
            grid-column: 2/3;
            grid-row: 1/2;
            padding-bottom: var(--unit-medium);
        }
        @include desktop {
            font-size: var(--font-size);
            padding-bottom: var(--unit-medium);
        }

        > * {
            max-width: 540px;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__inner {
        padding: 0 0 var(--unit-large);
        position: relative;
        display: flex;
        flex-flow: column-reverse;
        @include tablet_landscape {
            padding: var(--unit) 0;
            @supports (display: grid) {
                display: grid;
                grid-column-gap: var(--unit);
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                align-items: flex-end;
            }
        }
    }

    &__figcaption {
        @include flood;
        z-index: 2;
        max-width: 100%;
        top: auto;
        padding-left: var(--unit);
        padding-bottom: var(--unit-small);
        font-size: var(--font-size-small);
        text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5);
        @include tablet {
            padding-bottom: var(--unit-medium);
        }
        @include tablet_landscape {
            padding-left: var(--unit-medium);
        }
    }

    img {
        outline: none;
        pointer-events: none;
    }

    &__figure {
        margin-bottom: var(--unit);
        @include tablet_landscape {
            @supports (display: grid) {
                margin-bottom: 0;
                grid-column: 1/2;
                grid-row: 1/2;
            }
        }

        img {
            width: 100%;
        }
    }

    &__figurewrap {
        @include proportional-image-wrapper;

        .wp-block-mhm-viewpoint-header__figure {
            @include proportional-image-figure;
        }

        &::before {
            content: '';
            display: block;
            padding-bottom: percentage(calc(2 / 3));
        }

        &.is-aspect--16_9::before {
            padding-bottom: percentage(calc(9 / 16));
        }

        &.is-aspect--3x2::before {
            padding-bottom: percentage(calc(2 / 3));
        }

        &.is-aspect--4x3::before {
            padding-bottom: percentage(calc(3 / 4));
        }

        &.is-aspect--5x4::before {
            padding-bottom: percentage(calc(4 / 5));
        }

        &.is-aspect--25_10::before {
            padding-bottom: percentage(calc(10 / 25));
        }

        &.is-aspect--3x1::before {
            padding-bottom: percentage(calc(1 / 3));
        }

        &.is-aspect--4x1::before {
            padding-bottom: percentage(calc(1 / 4));
        }

        &.is-aspect--2x3::before {
            padding-bottom: percentage(calc(3 / 2));
        }

        &.is-aspect--3x4::before {
            padding-bottom: percentage(calc(4 / 3));
        }

        &.is-aspect--4x5::before {
            padding-bottom: percentage(calc(5 / 4));
        }
    }

    &.is-style-flipped {
        .wp-block-mhm-viewpoint-header {
            &__content {
                @include tablet_landscape {
                    @supports (display: grid) {
                        grid-column: 1/2;
                        text-align: right;

                        > * {
                            margin-left: auto;
                        }
                    }
                }
            }

            &__figure {
                @include tablet_landscape {
                    @supports (display: grid) {
                        grid-column: 2/3;
                    }
                }
            }
        }
    }

    &.alignfull {
        .c-featureheader {
            &__content {
                padding-left: var(--unit);
                padding-right: var(--unit);
                @include for-screen-min(tablet_landscape) {
                    padding-left: 0;
                }
            }
            &__inner {
                padding-left: var(--unit-small);
                padding-right: var(--unit-small);
            }
        }
    }
}

@include context-edit() {
    .wp-block-mhm-viewpoint-header {
        .c-imageselector__figurewrapper {
            @include proportional-image-wrapper;
        }

        .c-imageselector__figure {
            @include proportional-image-figure;
        }

        &__imagepositioner {
            @extend .wp-block-mhm-viewpoint-header__figure;

            .wp-block-mhm-viewpoint-header__figure {
                flex-basis: 100%;
            }
        }

        &__titlepositioner {
            @extend .c-block__title;

            .c-block__title {
                margin: 0;
            }
        }

        &.is-style-flipped {
            .wp-block-mhm-viewpoint-header__imagepositioner {
                order: -1;
            }
        }
    }
}
