.c-menutoggler {
	display: block;
	height: var(--unit);
	width: var(--unit-medium);
	position: relative;
	cursor: pointer;

	@include laptop {
		margin-left: var(--unit-large);
		margin-top: var(--unit-xsmall);
	}

	&__line {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		height: .125em;
		transform: translateY(-50%);
		transform-origin: center;
		background-color: currentColor;
		display: block;
		@include transition();
		will-change: transform;

		&:nth-child(1) {
			top: 0;
		}

		&:nth-child(3) {
			top: 100%;
		}
	}

	&[aria-expanded="true"] {
		.c-menutoggler__line {
			&:nth-child(1) {
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
			}

			&:nth-child(2) {
				left: 50%;
				right: 50%;
			}

			&:nth-child(3) {
				top: 50%;
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}
}
