.c-menu {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;

	&--primary {
		display: none;
		font-size: var(--font-size-medium);
		font-family: var(--font-family-primary-menu);
		font-weight: 400;
		text-transform: uppercase;
		@include av(20);

		@include laptop {
			display: block;
		}

		.c-menu {
			&__entry {
				display: block;
				opacity: .65;

				body.home & {
					opacity: 1;
				}

				&:last-child {
					a {
						padding-right: 0;
					}
				}
			}
		}

		a {
			text-decoration: none;
		}
	}

	&__entries {
		&--primary {
			@include laptop {
				@include flex-row;
			}
		}

		&--mobile {
			display: block;
		}
	}

	&__entry {
		display: inline-block;

		&--mobile {
			display: block;
		}

		&--primary {
			&.current-menu-item,
			&.current-page-ancestor {
				opacity: 1;
			}
		}
	}

	&__entrylink {
		display: block;
		padding: .5em;
	}
}
