.c-nav {
	&--mobile {
		font-size: 1.5rem;
		position: fixed;
		top: var(--admin-bar-height);
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 10;
		background-color: c(white);
		padding: var(--masthead-height) var(--unit);
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		@include laptop {
			padding-top: calc(var(--masthead-height) + var(--unit-large));
		}

		&[aria-hidden="true"] {
			pointer-events: none;
			transition: opacity 300ms ease-in;
			opacity: 0;
		}

		.c-menu__entrylink {
			text-decoration-color: c(primary, basewithhalfopacity);
		}

		.c-searchform {
			margin-top: var(--unit-large);
			@include smartphone {
				margin-top: var(--unit-xlarge);
			}
			@include laptop {
				display: none;
			}

		}

		.sub-menu {
			font-size: .65em;
			margin-bottom: var(--unit-large);
		}
	}
}
