.c-nav {
	&--mobile {
		font-size: 1.5rem;
		position: fixed;
		top: var(--admin-bar-height);
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 10;
		background-color: c(white);
		transition: opacity 300ms ease-in;
		transform-origin: top right;
		padding: var(--unit);
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include desktop {
			display: none;
		}

		&[aria-hidden="true"] {
			transform: translateX(100vw) scale(0);
			opacity: 0;
		}

		.c-menu__entrylink {
			text-decoration-color: c(primary, basewithhalfopacity);
		}

		.c-searchform {
			margin-top: var(--unit-large);
			@include smartphone {
				margin-top: var(--unit-xlarge);
			}

		}
	}
}
