:root {
	--masthead-height: #{rem-calc(95px)};
}

.c-pageheader {

	@extend .h-constraint;
	padding: var(--unit-medium) 0;
	font-size: var(--font-size-small);
	min-height: var(--masthead-height);

	@include desktop {
		font-size: 1rem;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background: linear-gradient(var(--page-background-color), transparent 75%);
		border-bottom: 1px solid c(gray, light);
		&::before {
			content: '';
			@include flood;
			z-index: 0;
			background-color: var(--page-background-color);
			opacity: .9;
		}
	}

	&__inner {
		position: relative;
		z-index: 2;
		@include laptop {
			@include flex-row;
			justify-content: space-between;
			align-items: baseline;
		}
	}

	&__title {
		font-size: 1.1em;
	}

	.admin-bar & {
		@include desktop {
			margin-top: 32px;
		}
	}
}
