.c-searchdrawer {
	display: none;
	width: 100%;
	max-width: 0;
	overflow: hidden;
	position: absolute;

	@include tablet {
		display: flex;
		justify-content: flex-end;
	}

	&__toggler {
		display: none;
		margin-right: var(--unit-medium);
		margin-left: var(--unit-large);

		@include tablet {
			display: inline-block;
		}

		@include laptop {
			margin-top: var(--unit-xsmall);
			margin-right: 0;
		}
	}

	&__wrapper {
		width: 100%;
		margin-top: var(--unit-xsmall);
	}

	&[aria-hidden='false'] {
		@include transition;
		max-width: 17rem;
		padding-left: 0;
		padding-right: 0;
		right: 7.5rem;
		@include laptop {
			padding-left: var(--unit-large);
			max-width: 32rem;
		}
	}
}

.c-searchform {
	.search-form .search-submit {
		box-shadow: none;
		margin-left: 0;
		border: 1px solid var(--color-gray-mid);
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.c-searchform__searchfield {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: 0;
	}
}
