$font-family: var(--font-family);
$font-family-heading: var(--font-family-heading);
$font-size: 16px;
$font-size-xxsmall: .625rem;
$font-size-xsmall: .75rem;
$font-size-small: .875rem;
$font-size-large: 1.125rem;
$font-size-xlarge: 1.25rem;
$font-size-xxlarge: 1.375rem;