:root {
    --font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-family-heading: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

    --font-size-rembase: 100%;
    --font-size: #{$font-size};
    --font-size-xxsmall: #{$font-size-xxsmall};
    --font-size-xsmall: #{$font-size-xsmall};
    --font-size-small: #{$font-size-small};
    --font-size-medium: #{$font-size-medium};
    --font-size-large: #{$font-size-large};
    --font-size-xlarge: #{$font-size-xlarge};
    --font-size-xxlarge: #{$font-size-xxlarge};
    --font-size-xxxlarge: #{$font-size-xxxlarge};
    --font-size-xxxxlarge: #{$font-size-xxxxlarge};

    --font-weight-body: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-heading: 900;

    --radius: 0.15em;

    --color-heading: var(--color-gray-dark);
}

* {
    line-height: var(--wp--custom--line-height--base);
}

html {
    font-size: 106.25%;

    @include desktop {
        font-size: 112.5%;
    }
}

body {
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: var(--wp--custom--line-height--base);
    font-weight: var(--font-weight-body);
    color: c(gray, dark);
}

a,
button {
    color: currentColor;
    @include transition;

    &:active,
    &:hover {
        color: c(primary, light);
    }
}

a {
    text-underline-position: under;
}

b,
strong {
    font-weight: 600;
}

button {
    text-decoration: none;
}

blockquote {
    margin: 0;
    @extend .h-stack;

    p {
        font-weight: 600;
    }
}

button {
    text-decoration: none;
}

cite {
    display: block;
}

code {
    font-size: 0.875em;
    // color: c(brown);
    background-color: c(gray, xlight);
    display: inline-block;
    padding: 0.0625em 0.25em;
}

pre {
    padding: var(--unit-xsmall);
    background-color: c(gray, xlight);
    overflow: auto;
}

hr {
    border: none;
    border-top: 1px dotted c(gray, mid);
}

figure,
img {
    height: auto;
    vertical-align: middle;
}

img {
    max-width: 100%;
    outline: 1px solid c(gray, xlight);
}

figure {
    margin: 0;

    img {
        width: 100%;
    }

    > a {
        border-bottom: none;
    }
}

figcaption {
    font-size: var(--font-size-small);
    font-style: italic;
    margin-top: 0.5em;
    text-align: left;
}

ul {
    padding-left: 1.5em;
}

nav {
    li,
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

input,
li,
p,
tr {
    font-size: 1em;
}

sub,
sup {
    font-size: var(--font-size-xsmall);
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -1em;
}

sub {
    bottom: -0.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-heading);
    color: var(--color-heading);
    margin: 0;

    a,
    a:active,
    a:hover {
        text-decoration: none;
        color: currentColor;
    }
}

h1 {
    font-size: 1.75em;

    &.is-style-large {
        font-size: 2.5em;
    }

    &.is-style-xlarge {
        font-size: 3.5em;
    }

    &.has-small-font-size {
        --wp--preset--font-size--small: 1.5em;
    }
}

h2 {
    font-size: 1.5em;
    &.has-small-font-size {
        --wp--preset--font-size--small: 1.25em;
    }
}

h3 {
    font-size: 1.375em;
    &.has-small-font-size {
        --wp--preset--font-size--small: 1.125em;
    }
}

h4 {
    font-size: 1.25em;
    &.has-small-font-size {
        --wp--preset--font-size--small: 1.0625em;
    }
}

h5 {
    font-size: 1.125em;
    &.has-small-font-size {
        --wp--preset--font-size--small: 1em;
    }
}

h6 {
    font-size: 1.0625em;
    &.has-small-font-size {
        --wp--preset--font-size--small: 1em;
    }
}

.is-style-lead {
    font-size: var(--font-size-xlarge);
    @include desktop {
        font-size: var(--font-size-xxlarge);
    }
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

@include context-edit {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-family-heading);

        a,
        a:active,
        a:hover {
            color: currentColor !important;
            border: none !important;
        }
    }
}
