figcaption {
	width: 100%;
	padding-right: var(--unit);
	max-width: var(--constraint-narrow);
	margin-left: auto;
	margin-right: auto;
	@include tablet {
		padding-right: 0;
	}
}

.alignfull,
.alignwide,
.alignxwide {
	figcaption {
		padding-left: var(--unit);
		@include tablet {
			padding-left: 0;
		}
	}
}

@import "code";
@import "columns";
@import "cover";
@import "embed";
@import "gallery";
@import "image";
@import "imagegallery";
@import "latest-posts";
@import "mhm-count-posts";
@import "mhm-count-photos";
@import "mhm-post-excerpt";
@import "mhm-years-online";
@import "mgl-gallery";
@import "quote";
@import "search";
@import "separator";
@import "shb-video-bar";

.has-bottom-black-shadow-gradient-background {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%);
}

@include context-edit {
	.wp-block {
		max-width: var(--constraint-narrow);
		&.alignwide,
		&[data-align="wide"] {
			max-width: var(--constraint-wide);
		}
		&.alignxwide {
			max-width: var(--constraint-xwide);
		}
		&.alignfull,
		&[data-align="full"] {
			max-width: var(--constraint-full);
		}
	}
}
