:root {
	--grid-border-width: 2px;
}

figcaption {
	width: 100%;
	padding-right: var(--unit-large);
	max-width: var(--constraint-narrow);
	margin-left: auto;
	margin-right: auto;
}

@import "bravo";
@import "button";
@import "code";
@import "columns";
@import "cover";
@import "embed";
@import "footnotes";
@import "gallery";
@import "group";
@import "home-carousel";
@import "image";
@import "imagegallery";
@import "latest-posts";
@import "media-text";
@import "mhm-blog-cards";
@import "mhm-count-posts";
@import "mhm-count-photos";
@import "mhm-image";
@import "mhm-language-excerpt";
@import "mhm-post-excerpt";
@import "mhm-years-online";
@import "mgl-gallery";
@import "mhm-project-grid";
@import "mhm-project-header";
@import "mhm-viewpoint-header";
@import "photos-by-collection";
@import "quote";
@import "search";
@import "separator";
@import "shb-video-bar";
@import "sht-post-header";

// @include context-edit {
//
// 	.wp-block {
// 		max-width: var(--constraint-narrow);
//
// 		&.alignwide,
// 		&[data-align="wide"] {
// 			max-width: var(--constraint-wide);
// 		}
//
// 		&.alignxwide {
// 			max-width: var(--constraint-xwide);
// 		}
//
// 		&.alignfull,
// 		&[data-align="full"] {
// 			max-width: var(--constraint-full);
// 		}
// 	}
// }
