body {
    --wp--style--columns-gap-default: 2em;
}

.wp-block-column {
    @extend .h-stack;
}

.wp-block-columns {
    @extend .h-stack;
    gap: var(--wp--style--columns-gap-default);

    @include tablet {
        flex-wrap: nowrap;

        > * + * {
            margin-top: 0;
        }
    }

    &.is-style-gapless {
        padding: 0;
    }

    // &.is-style-narrow-gap {
    //     .wp-block-column:not(:first-child) {
    //         @include for-screen-min(wordpress_medium) {
    //             margin-left: var(--grid-border-width);
    //         }
    //     }
    // }
}

@include context-edit {
    .wp-block-columns {
        &.is-style-gapless {
            .wp-block-column:not(:first-child) {
                @include for-screen-min(wordpress_medium) {
                    margin-left: 0;
                }
            }
        }
    }
}
