.wp-block-cover {
    min-height: 25vh;
    padding: 0;

    a {
        text-decoration-color: currentColor;
    }

    &::before {
        will-change: opacity;
    }

    &.alignwide {
        @include laptop {
            padding: var(--unit-medium);
        }
    }

    &.alignfull {
        padding-top: 50%;
        @include tablet {
            padding-top: 15%;
        }
        @include laptop {
            padding: var(--unit-medium);
        }
    }

    &.has-background-dim {
        background-color: c(black);
    }

    &__inner-container {
        @extend .h-stack--small;
        padding: var(--unit);
        width: 100vw;
        max-width: var(--constraint-narrow);
        margin-left: auto;
        margin-right: auto;
        @include laptop {
            max-width: 100%;
            width: 100% !important;
            padding-bottom: var(--unit-medium);
        }

        > * {
            margin-left: auto;
            margin-right: auto;
            &:not(.alignwide):not(.alignfull) {
                max-width: var(--constraint-narrow);
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        & + .wp-block-buttons {
            @include desktop {
                margin-top: var(--unit-medium);
            }
        }
    }

    .c-article__date {
        color: inherit;
        opacity: 0.82;
    }

    .wp-block-group {
        &__inner-container {
            > * {
                max-width: 100%;
            }
        }
    }
}

@include context-edit {
    .wp-block-cover {
        a {
            text-decoration-color: currentColor !important;
        }

        .block-editor-block-list__block {
            color: inherit;
        }

        [data-type='core/cover'][data-editorskit-is-vertically-bottom='1'] & {
            align-items: flex-end;
        }

        [data-type='core/cover'][data-editorskit-is-vertically-top='1'] & {
            align-items: flex-start;
        }
    }
}
