.wp-block-gallery {
    clear: both;

    figcaption {
        margin-top: 0;
    }

    img {
        pointer-events: none;
        body.logged-in & {
            pointer-events: all;
        }
    }

    &.has-nested-images figure.wp-block-image figcaption {
        padding: 1.5em;
    }
}
