.wp-block-group {
	& + .wp-block-group {
		margin-top: 0;
		margin-bottom: 0;
	}

	.wp-block-cover + & {
		margin-top: 0;
	}

	&.is-style-padding {
		.wp-block-group__inner-container {
			padding-top: var(--unit);
			padding-bottom: var(--unit);
		}
	}

	&.is-style-padding--medium {
		.wp-block-group__inner-container {
			padding-top: var(--unit-medium);
			padding-bottom: var(--unit-medium);
		}
	}

	&.is-style-padding--large {
		.wp-block-group__inner-container {
			padding-top: var(--unit-large);
			padding-bottom: var(--unit-large);
		}
	}

	&.is-style-padding--xlarge {
		.wp-block-group__inner-container {
			padding-top: var(--unit-xlarge);
			padding-bottom: var(--unit-xlarge);
		}
	}

	&.is-style-padding--xxlarge {
		.wp-block-group__inner-container {
			padding-top: var(--unit-xxlarge);
			padding-bottom: var(--unit-xxlarge);
		}
	}
}

@include context-edit {
	.wp-block-group {
		&__inner-container {
			.block-editor-inner-blocks {
				max-width: 100%;
			}

			.block-editor-block-list__layout {
				@extend .h-constraint;

				[data-align='wide'] {
					max-width: var(--constraint-wide);
				}

				[data-align='full'] {
					max-width: var(--constraint-full);
				}
			}
		}
	}
}

@include context-view {
	.wp-block-group {
		&__inner-container {
			@extend .h-constraint;
			padding-left: var(--unit);
			padding-right: var(--unit);

			@include tablet {
				padding-left: 0;
				padding-right: 0;
			}

			.alignwide {
				max-width: var(--constraint-wide);
			}

			.alignfull {
				max-width: var(--constraint-full);
			}
		}
	}
}
