.wp-block-sht-imagegallery {
	--stack-space-top: 2rem;
	--stack-space-bottom: 2rem;

	&__images {
		list-style: none;
		padding: 0;
		margin-left: 0;
	}

	img {
		border: .25rem solid c(white);
		box-shadow: 0 0 .5rem rgba(0,0,0,.125);
		outline: none;
	}
}
