/*
 * WordPress Core block
 */

.wp-block-image {

	&.alignfull,
	&.alignwide,
	&.alignxwide {
		figcaption {
			padding-left: var(--unit);
			padding-right: var(--unit);
			@include tablet {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	figcaption {
		max-width: var(--constraint-narrow);
		margin-left: auto;
		margin-right: auto;
	}

	img {
		pointer-events: none;
		border: .25rem solid c(white);
		box-shadow: 0 0 .5rem rgba(0,0,0,.125);
		outline: none;
	}
}
