.wp-block-mhm-image {
    @include proportional-image-wrapper;

    &__figure {
        @include proportional-image-figure;
    }

    &__figcaption {
        @include flood;
        z-index: 2;
        max-width: 100%;
        top: auto;
        padding-left: var(--unit);
        padding-bottom: var(--unit-small);
        font-size: var(--font-size-small);
        @include tablet {
            padding-left: var(--unit-medium);
            padding-bottom: var(--unit-medium);
        }

        &--textshadow {
            text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5);
        }
    }

    img {
        outline: none;
        pointer-events: none;
        body.logged-in & {
            pointer-events: all;
        }
    }

    &.alignwide {
        .wp-block-mhm-image {
            &__figure {
                left: var(--unit);
                right: var(--unit);
                width: calc(100% - var(--unit-large));

                @include tablet_landscape {
                    left: 0;
                    right: 0;
                    width: 100%;
                }
            }
        }
    }
}

@include context-edit {
    .wp-block-mhm-image {
        .c-imageselector {
            @supports (object-fit: cover) {
                @include flood;
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
                overflow: hidden;

                &__figure {
                    height: 100%;
                }

                img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }
            }
        }
    }
}
