.wp-block-mhm-image {
	@include proportional-image-wrapper;

	&__figure {
		@include proportional-image-figure;
	}

	&__figcaption {
		@include flood;
		z-index: 2;
		max-width: 100%;
		top: auto;
		left: var(--unit-medium);
		bottom: var(--unit-medium);
		font-size: var(--font-size-medium);
	}

	img {
		outline: none;
	}
}

@include context-edit {
	.wp-block-mhm-image {
		.o-imageselector {
			@supports(object-fit: cover) {
				@include flood;
				object-fit: cover;
				object-position: center;
				width: 100%;
				height: 100%;
				overflow: hidden;

				&__figure {
					height: 100%;
				}

				img {
					object-fit: cover;
					object-position: center;
					width: 100%;
					height: 100%;
					overflow: hidden;
				}
			}
		}
	}
}
