.wp-block-mhm-project-grid {

	--project-grid-outline-color: var(--color-white);

	> * {
		margin-top: 0;
		margin-bottom: 0;
	}

	img {
		outline: none;
	}

	p:empty {
		display: none;
	}

	.wp-block {

		&-column {
			@include for-screen-min(wordpress_small) {
				flex-basis: 50% !important; // override core rule
			}
		}

		&-mhm-project-header {
			margin-bottom: var(--unit);
			@include tablet_landscape {
				margin-bottom: 0;
			}
		}

		&-mhm-image,
		&-mhm-project-header__figure {
			border: var(--grid-border-width) solid transparent;
		}
		&-mhm-project-header__figure {
			border-top-width: 0;
		}
	}
}

@include context-edit {
	.wp-block-mhm-project-grid {
		[data-align='full'] {
			margin-left: 0;
			margin-right: 0;
		}
	}
}
