.wp-block-mhm-map-by-viewpoint {

	background-color: var(--color-white);
	margin-top: 0;
	border-top: var(--grid-border-width) solid var(--color-white);
	border-bottom: var(--grid-border-width) solid var(--color-white);

	& + * {
		margin-top: 0;
		--stack-space-top: 0;
	}

	&__figure {
		width: 300px;
	}

	&__map {
		height: 100%;
		min-height: 600px;

		@include desktop_large {
			min-height: 900px;
		}

		img {
			outline: none;
		}
	}

	.gm-style .gm-style-iw-c {
		border-radius: 0;
		box-shadow: 0 0 var(--unit) var(--color-black);
	}
}

@include context-edit {
	.wp-block-mhm-map-by-viewpoint {
		&.c-editormessage {
			display: block;
			&--error {
				.wp-block-mhm-map-by-viewpoint__title {
					color: inherit;
				}
			}
		}

		a {
			pointer-events: none;
		}
	}
}
