.wp-block-photos-by-viewpoint {
	--stack-space-top: 2rem;
	--stack-space-bottom: 2rem;

	@extend .h-stack;

	&__images {
		list-style: none;
		padding: 0;
		margin-left: 0;
	}

}

.wp-block-mhm-project-header + .wp-block-photos-by-viewpoint,
.wp-block-mhm-viewpoint-header + .wp-block-photos-by-viewpoint {
	margin-top: var(--grid-border-width);
	.wp-block-photos-by-viewpoint {
		&__images {
			margin-top: 0;
		}
	}
}

@include context-edit {
	.wp-block-photos-by-viewpoint {
		a {
			pointer-events: none;
		}
	}
}
