.wp-block-quote {
	padding: var(--unit) var(--unit-xlarge);
	font-style: italic;
	position: relative;
	border: none; // override core CSS

	> * {
		position: relative;
	}

	&:before {
		content: '“';
		font-size: 6em;
		line-height: 1;
		position: absolute;
		top: 0;
		left: .125em;
		pointer-events: none;
		color: c(gray, mid);
		opacity: .5;
	}

	p:last-of-type:before {
		content: '„';
		font-size: 6em;
		line-height: 1;
		position: absolute;
		bottom: 0;
		right: -.75em;
		pointer-events: none;
		color: c(gray, mid);
		opacity: .5;
	}

	&__citation,
	cite,
	em {
		font-size: var(--font-size-small);
		color: c(gray);
		font-style: italic;
		a {
			color: currentColor;
		}
	}
}
