.wp-block-shb-video-bar {

	padding: var(--unit-large);

	.wp-block-embed,
	.wp-block-video {
		max-width: var(--constraint-narrow);
		&.alignwide {
			max-width: var(--constraint-wide);
		}
		&.alignfull {
			max-width: var(--constraint-full);
		}
	}

	+.wp-block-shb-video-bar {
		margin-top: 0;
	}

	&.is-style-fullheight {
		display: flex;
		align-items: center;
		min-height: 100vh;

		@include desktop {
			min-height: calc(100vh - 106px);
			html.admin-bar & {
				min-height: calc(100vh - 106px - 32px);
			}
		}

		> * {
			flex: 0 0 100%;
			margin-left: auto;
			margin-right: auto;
			padding-left: var(--unit);
			padding-right: var(--unit);
			@include tablet {
				padding-left: 0;
				padding-right: 0;
				max-width: 70vw;
			}
			@include laptop {
				max-width: 60vw;
			}
			@include desktop {
				max-width: 60vw;
			}
		}
	}
}

@include context-edit {
	.wp-block-shb-video-bar {
		[data-align="wide"],
		[data-align="full"] {
			.wp-block-embed,
			.wp-block-video {
				max-width: 100%;
			}
		}
	}
}
