.acf-hl {
	li:before {
		content: '';
		display: none;
	}
}

.editor-post-title__block {
	position: relative;
	opacity: .5;
	border: 1px dotted #{c(gray, dark50)};
	.editor-post-title__input {
		font-family: var(--font-heading);
	}
}

body.post-type-page .editor-post-title__block::after {
	content: 'Will not be displayed';
	position: absolute;
	top: 50%;
	left: -8rem;
	max-width: 7.5rem;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: small;
	transform: translateY(-50%);
}
