@charset 'UTF-8';
@use 'sass:math';

@import '../../../assets/settings.json';

$context: 'admin';
@import '_______settings/__all.settings';
@import '______tools/__all.tools';

.acf-hl {
    li:before {
        content: '';
        display: none;
    }
}

.editor-post-title__block {
    .editor-post-title__input {
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-heading);
        color: var(--color-heading);
        @include laptop {
            font-size: 2.5rem;
        }
    }
}
