@charset 'UTF-8';
@import "../../../assets/settings.json";
$context: 'oembed';
@import "_______settings/__all.settings";
@import "______tools/__all.tools";
@import "_____generic/__all.generic";
@import "____elements/__all.elements";
@import "___objects/__all.objects";
@import "__components/__all.components";
@import "__blocks/__all.blocks";
@import "_trumps/__all.trumps";

body {
	background-color: c(white);
}

.single-photo,
.single-post {
	.wp-embed {
		background: transparent;
		border: none;
		font-family: inherit;
		font-size: 1.0625rem;
		@extend .h-stack;

		&-footer {
			display: none;
		}

		a {
			text-decoration: underline;
			text-underline-position: under;
			text-decoration-color: c(gray, dark50);
		}

		img {
			outline: none;
		}
	}

	.wp-embed-featured-image {
		&.rectangular {
			margin-bottom: var(--unit);
		}
	}

	.wp-embed-heading a {
		text-decoration: none;
	}
}
