:root {
    @each $colour, $colourSet in $theme_colors {
        @each $variant, $value in $colourSet {
            @if $variant == 'base' {
                --color-#{$colour+''}: #{$value};
            } @else {
                --color-#{$colour+''}-#{$variant+''}: #{$value};
            }
        }
    }
}

@each $color, $colorSet in $gutenberg_colors {
    @each $variant, $value in $colorSet {
        @if $variant == 'base' {
            .has-#{$color + ''}-color {
                color: var(--color-#{$color + ''});
                --color-heading: var(--color-#{$color + ''});
            }
            a,
            button {
                &.has-#{$color + ''}-color {
                    &:active,
                    &:hover,
                    &:link,
                    &:visited {
                        color: var(--color-#{$color + ''});
                    }
                }
            }
            .has-#{$color + ''}-background-color {
                background-color: var(--color-#{$color + ''});
            }
            a,
            button {
                &.has-#{$color + ''}-background-color {
                    background-color: var(--color-#{$color + ''});
                }
            }
        } @else {
            .has-#{$color + ''}-#{$variant + ''}-color {
                color: var(--color-#{$color + ''}-#{$variant + ''});
                --color-heading: var(--color-#{$color + ''}-#{$variant + ''});
            }
            a,
            button {
                &.has-#{$color + ''}-#{$variant + ''}-color {
                    color: var(--color-#{$color + ''}-#{$variant + ''});
                }
            }
            .has-#{$color + ''}-#{$variant + ''}-background-color {
                background-color: var(--color-#{$color + ''}-#{$variant + ''});
            }
            a,
            button {
                &.has-#{$color + ''}-#{$variant + ''}-background-color {
                    background-color: var(--color-#{$color + ''}-#{$variant + ''});
                }
            }
        }
    }
}

.has-bottom-black-shadow-gradient-background {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 1) 100%
    );
}
