
@each $color, $colorSet in $theme_colors {
	@each $variant, $value in $colorSet {
		@if $variant == 'base' {
			.has-#{$color}-color {
				color: #{$value};
			}
			a.has-#{$color}-color {
				&:active,
				&:focus,
				&:hover,
				&:visited {
					color: #{$value};
				}
			}
			.has-#{$color}-background-color {
				background-color: #{$value};
			}
			a.has-#{$color}-background-color {
				&:active,
				&:focus,
				&:hover,
				&:visited {
					background-color: #{$value};
				}
			}
		} @else {
			.has-#{$color}-#{$variant}-color {
				color: #{$value};
			}
			a.has-#{$color}-color {
				&:active,
				&:focus,
				&:hover,
				&:visited {
					color: #{$value};
				}
			}
			.has-#{$color}-#{$variant}-background-color {
				background-color: #{$value};
			}
			a.has-#{$color}-background-color {
				&:active,
				&:focus,
				&:hover,
				&:visited {
					background-color: #{$value};
				}
			}
		}
	}
}

@each $color, $colorSet in $gutenberg_colors {
	@each $variant, $value in $colorSet {
		@if $variant == 'base' {
			.has-#{$color}-color {
				color: #{$value};
			}
			a.has-#{$color}-color {
				&:active,
				&:focus,
				&:hover,
				&:visited {
					color: #{$value};
				}
			}
			.has-#{$color}-background-color {
				background-color: #{$value};
			}
			a.has-#{$color}-background-color {
				&:active,
				&:focus,
				&:hover,
				&:visited {
					background-color: #{$value};
				}
			}
		} @else {
			.has-#{$color}-#{$variant}-color {
				color: #{$value};
			}
			a.has-#{$color}-color {
				&:active,
				&:focus,
				&:hover,
				&:visited {
					color: #{$value};
				}
			}
			.has-#{$color}-#{$variant}-background-color {
				background-color: #{$value};
			}
			a.has-#{$color}-background-color {
				&:active,
				&:focus,
				&:hover,
				&:visited {
					background-color: #{$value};
				}
			}
		}
	}
}
