
.has-black-color {
	color: #000;
}
.has-light-gray-color {
	color: #777;
}
.has-mid-gray-color {
	color: #aaa;
}
.has-lighter-gray-color {
	color: #ccc;
}
.has-xlight-gray-color {
	color: #f0f0f0;
}
.has-xxlight-gray-color {
	color: #f9f9f9;
}
.has-primary-color {
	color: #1A56B0;
}
.has-wordpress-blue-color {
	color: #0073aa;
}
.has-white-color {
	color: #fff;
}

.has-black-background-color {
	background-color: #000;
}
.has-light-gray-background-color {
	background-color: #777;
}
.has-mid-gray-background-color {
	background-color: #aaa;
}
.has-lighter-gray-background-color {
	background-color: #ccc;
}
.has-xlight-gray-background-color {
	background-color: #f0f0f0;
}
.has-xxlight-gray-background-color {
	background-color: #f9f9f9;
}
.has-primary-background-color {
	background-color: #1A56B0;
}
.has-wordpress-blue-background-color {
	background-color: #0073aa;
}
.has-white-background-color {
	background-color: #fff;
}
