.o-button {
    cursor: pointer;
    padding: var(--unit-small) var(--unit);
    border: 1px solid transparent;
    border-radius: var(--radius);
    text-decoration: none;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.1);
    @include transition;
    background-color: var(--color-gray-dark);
    color: var(--color-white);

    &:hover {
        background-color: var(--color-primary-light);
    }

    &--solid {
        @extend .o-button;
    }

    &--size-small {
        font-size: $font-size-small;
    }

    &--size-large {
        font-size: $font-size-large;
    }

    &--size-smaller {
        font-size: $font-size-xsmall;
    }

    &--size-larger {
        font-size: $font-size-xlarge;
    }
}
