.o-button {

	cursor: pointer;
	padding: var(--unit-xsmall) var(--unit);
	border: 1px solid c(gray, mid);
	border-radius: .25em;
	background: c(white);
	text-decoration: none;

	&--solid {
		@extend .o-button;
		background-color: c(gray, mid);
		color: c(white);
		&:hover {
			color: c(white);
		}
	}

	&--size-small {
		font-size: $font-size-small;
	}

	&--size-large {
		font-size: $font-size-large;
	}

	&--size-smaller {
		font-size: $font-size-xsmall;
	}

	&--size-larger {
		font-size: $font-size-xlarge;
	}
}
